*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
}
.main{
    margin-top: 100px;
}
form{
    display: grid;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding:  10px;
    height: 70vh;
    border-radius: 10px;
}
legend{
    margin-top: 40px;
    text-align: center;
    color: red;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 40px;
    margin: 20px 0px;
}
label{
    margin-left: 20px;
}
span{
    grid-column: span 2;
    text-align: center;
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
span{
    color: red;
}
button{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: orange;
    color: black;
    border: none;
}
